{% extends 'base.html.twig' %}

    {% block title %}New Event {% endblock %}

    {% block body %}
        <h1>New Event</h1>

        {% embed 'event/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
