{% extends 'base.html.twig' %}

    {% block title %}Edit Birth Status {% endblock %}

    {% block body %}
        <h1>Edit Birth Status</h1>

        {% embed 'birth_status/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
