{% extends 'base.html.twig' %}

    {% block title %}Edit Notary {% endblock %}

    {% block body %}
        <h1>Edit Notary</h1>

        {% embed 'notary/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
