{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}


{% block body %}
    <h1>New Location</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'location/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('location_index')} %}
    {{ form_end(form) }}

{% endblock %}
