{% extends 'popup.html.twig' %}

    {% block title %}New Location {% endblock %}

    {% block body %}
        <h1>New Location</h1>

        {% embed 'location/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
