{% extends 'base.html.twig' %}

{% block title %}Residence Edit{% endblock %}

{% block body %}
    <h1>Residence Edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {% include 'residence/form_controls.html.twig' with {'btnLabel': 'Update', 'cancelPath': path('residence_show', { 'id': residence.id }) } %}
    {{ form_end(edit_form) }}

{% endblock %}
