{% extends 'base.html.twig' %}

{% block title %}New Residence{% endblock %}


{% block body %}
    <h1>New Residence</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'residence/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('residence_index')} %}
    {{ form_end(form) }}

{% endblock %}
