<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {{ city.name }}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ city.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ city.updated|date }}</td>
        </tr>
    </tbody>
</table>


