{% extends 'popup.html.twig' %}

    {% block title %}New City {% endblock %}

    {% block body %}
        <h1>New City</h1>

        {% embed 'city/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
