{% extends 'base.html.twig' %}

{% block title %}Ledger Edit{% endblock %}

{% block body %}
    <h1>Ledger Edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {% include 'ledger/form_controls.html.twig' with {'btnLabel': 'Update', 'cancelPath': path('ledger_show', { 'id': ledger.id }) } %}
    {{ form_end(edit_form) }}

{% endblock %}
