{% extends 'base.html.twig' %}

{% block title %}New Ledger{% endblock %}


{% block body %}
    <h1>New Ledger</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'ledger/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('ledger_index')} %}
    {{ form_end(form) }}

{% endblock %}
