{% extends 'base.html.twig' %}

    {% block title %}New Ledger {% endblock %}

    {% block body %}
        <h1>New Ledger</h1>

        {% embed 'ledger/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
