<div class="form-group">
    <div class="col-sm-2"></div>
    <div class='btn-toolbar pull-left'>
        <div class='btn-group'>
            <input type="submit" value="{{ btnLabel }}" class="btn btn-primary" />
            <a href="{{ cancelPath }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('city_new_popup') }}" class="btn btn-primary popup" id="newPlace"><span class="glyphicon glyphicon-plus"></span> City</a>
            <a href="{{ path('race_new_popup') }}" class="btn btn-primary popup" id="newPlace"><span class="glyphicon glyphicon-plus"></span> Race</a>
        </div>
    </div>
</div>
