{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}


{% block body %}
    <h1>New Person</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'person/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('person_index')} %}
    {{ form_end(form) }}

{% endblock %}
