{% extends 'base.html.twig' %}

    {% block title %}Edit Relationship Category {% endblock %}

    {% block body %}
        <h1>Edit Relationship Category</h1>

        {% embed 'relationship_category/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
