{% extends 'popup.html.twig' %}

    {% block title %}New Relationship Category {% endblock %}

    {% block body %}
        <h1>New Relationship Category</h1>

        {% embed 'relationship_category/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
