{% extends 'base.html.twig' %}

    {% block title %}Edit Witness {% endblock %}

    {% block body %}
        <h1>Edit Witness</h1>

        {% embed 'witness/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
