{% extends 'base.html.twig' %}

{% block title %}New Witness{% endblock %}


{% block body %}
    <h1>New Witness</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'witness/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('witness_index')} %}
    {{ form_end(form) }}

{% endblock %}
