<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% for witness in witnesses %}
            <tr>
                <td>
                    <a href="{{ path('witness_show', { 'id': witness.id }) }}">
                        {{ witness.id }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
