{% extends 'base.html.twig' %}

    {% block title %}New Race {% endblock %}

    {% block body %}
        <h1>New Race</h1>

        {% embed 'race/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
