{% extends 'base.html.twig' %}

{% block title %}New Relationship{% endblock %}


{% block body %}
    <h1>New Relationship</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'relationship/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('relationship_index')} %}
    {{ form_end(form) }}

{% endblock %}
