{% extends 'base.html.twig' %}

    {% block title %}Edit Transaction {% endblock %}

    {% block body %}
        <h1>Edit Transaction</h1>

        {% embed 'transaction/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
