{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}


{% block body %}
    <h1>New Transaction</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% include 'transaction/form_controls.html.twig' with {'btnLabel': 'Create', 'cancelPath': path('transaction_index')} %}
    {{ form_end(form) }}

{% endblock %}
